---
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import BackToTop from '@components/control/BackToTop.astro'
import SideBar from '@components/widget/SideBar.astro'
import { pathsEqual } from '@utils/url-utils'
import Layout from './Layout.astro'

interface Props {
  title: string
  banner?: string
  description?: string
}

const { title, banner, description } = Astro.props
const isHomePage = pathsEqual(Astro.url.pathname, '/')
---

<Layout title={title} banner={banner} description={description}>
	<slot slot="head" name="head" />
	<div class="max-w-[var(--page-width)] min-h-screen grid grid-cols-[17.5rem_auto] grid-rows-[10rem_auto_1fr_auto] lg:grid-rows-[6rem_1fr_auto]
    mx-auto gap-4 relative px-0 md:px-4"
>
  	<Navbar />
    <SideBar class="row-start-3 row-end-4 col-span-2 lg:row-start-2 lg:row-end-3 lg:col-span-1 lg:max-w-[17.5rem] onload-animation" />
    <div id="content-wrapper" class="row-start-2 row-end-3 col-span-2 lg:col-span-1 overflow-hidden onload-animation">
        <!-- the overflow-hidden here prevent long text break the layout-->
        <main id="swup" class="transition-fade">
            <slot />
        </main>
    </div>
    <Footer />
    <BackToTop />
</div>
</Layout>
